* {
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
    margin: 0;
    padding: 0;
}

.form-login {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 auto;
    padding: 20px;
    width: 300px;
}

.form-login button {
    background-color: #FF1616;
    border: 1px solid #ccc;
}

.nav-link {
    color: #495057;
}

.nav-tabs {
    border-bottom: 1px solid #ccc;
}