.table {
  margin: 0 10px;
  border-radius: 5px;
  max-width: 90%;
}

.item-table,
.task-table,
.status-table,
.date-table {
  text-align: center;
}

.item-table {
  width: 20px;
}

.buttons-table {
  text-align: right;
  width: 155px;
}

.delete-button {
  background-color: #ff161636;
}

.delete-button:hover {
  background-color: #FF1616;
}

.update-button {
  background-color: rgba(0, 0, 255, 0.171)
}

.update-button:hover {
  background-color: #00F;
}

.update-button,
.delete-button {
  font-size: 10px;
  margin: 3px;
  font-weight: bold;
  height: 30px;
  min-width: 60px;
}

.update-button:hover,
.delete-button:hover {
  color: white;
  cursor: pointer;
}

.buttonOrderTask,
.buttonOrderStatus,
.buttonOrderDate {
  font-weight: bolder;
  width: 100px;
}

th {
  font-weight: bolder;
  font-size: 14px;
}

.iconOrder {
  color: #FF1616;
  font-size: 20px;
}

.error-incorrect-user,
.error-invalid-entries {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

tr {
  background-color: white;
}