* {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../../images/background.jpeg');
  background-size: cover;
height: 100vh;
}

.logo {
  width: 200px;
  margin: 30px;
}