* {
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
}

.tasks-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('../../images/background.jpeg');
  background-size: cover;
  height: 100vh;
}
